
<table>
<center><h1>Hideout Forum</h1><%=small_fancy_button('Create New Forum Topic',:action => 'new')%></center>


<% @forums.each do |forum| %>
  <tr>
    <td><%= fancy_button(forum.title, forum, :method => :get, :class => 'awesome button') %></td>
		<% if current_user.login == 'admin' %>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %></td>
		<%end%>
  </tr>
	<tr>
		<td><div class='prepend-1'><h5>Topics inside-</h5></div></td>
	</tr>
	<tr>
		<td colspan=4><div class='prepend-1'><%= render :partial => 'posts/post', :collection => forum.posts %></div></td>
	</tr>
	<tr>
		<td>
			<% if forum.title != nil %>
			<div class='prepend-1'><h5><%= small_fancy_button('Create New Post Topic About '+forum.title, :controller => 'posts', :action => 'new', :id => forum.id)%></div>
	</td></tr>
			<%end%>
<% end %>
</table>

<br />
<% if current_user.login == 'admin' %>
<%= link_to 'New forum', new_forum_path %>
<%end%>