
  <b>Name:</b>
  <%=h @user.name %>
<br />

  <b>Email:</b>
  <%=h @user.email %>
<br />

  <b>Cell Phone:</b>
  <%=h @user.cell_phone %>
<br />

  <b>Home Phone:</b>
  <%=h @user.home_phone %>
<br />

  <b>Address:</b>
  <%=h @user.address %>
<br />
<% if @user.birthday != nil%>
  <b>Birthday:</b>
  <%= @user.birthday.to_formatted_s(:short) %>
<br />
<%end%>
<%if @user.aniversary != nil%>
  <b>Aniversary:</b>
  <%= @user.aniversary.to_formatted_s(:short) %>
<br />
<%end%>
<%if !@user.custom_1_name.blank? %>
<b><%=@user.custom_1_name%>:</b>
<%end%>
<%if !@user.custom_1_field.blank?%>
<%=@user.custom_1_field%>
<%end%>
<br />
<%if !@user.custom_2_name.blank? %>
<b><%=@user.custom_2_name%>:</b>
<%end%>
<%if !@user.custom_2_field.blank?%>
<%=@user.custom_2_field%>
<%end%>
<br />
<%if !@user.custom_3_name.blank?%>
<b><%=@user.custom_3_name%>:</b>
<%end%>
<%if !@user.custom_3_field.blank?%>
<%=@user.custom_3_field%>
<%end%>
<br />
<%if !@user.custom_4_name.blank?%>
<b><%=@user.custom_4_name%>:</b>
<%end%>
<%if !@user.custom_4_field.blank?%>
<%=@user.custom_4_field%>
<%end%>
<br />


<div id='navbar'>
	<%if (current_user == @user) or (current_user == 'admin') %>
<%= fancy_button('Edit', edit_user_path, :method => :get, :class => 'awesome button') %>
	<%end%>
<%= fancy_button('Back', users_path, :method => :get, :class=> 'awesome button')%>
</div>
